-var navbar = ["Inicio", "Modulos", "Acerca de"]
-var description = ["E-mail", "Telefono", "Faceboock"]

mixin BeneficiosTodos(inicio, carusel, medio, imagen, titulo, text, txt1)
    if carusel == "esCarusel"
            .carousel-item.h-100(class=inicio)
                .beneficios.h-100
                    .beneficios__circle
                        img(src=imagen, alt="alt")
                    .beneficios__txt.txt
                        h3.tituloBeneficio #{titulo}
                        p #{text}
                        p.d-none #{txt1}
                        .w-100.d-flex.justify-conten-center
                            a(href="#Carusel").btn.btn-outline-primary(type="button") Leer Más 


    else 
        if medio == "esimgleft"
            .beneficios.h-100.ultimo
                .beneficios__txt
                    h3.tituloBeneficio #{titulo}
                    p #{text}
                    p.txtAdd.d-block.text-justify #{txt1}
                    .w-100.d-flex.justify-conten-center
                        a(href="#Carusel").btn.btn-outline-primary(type="button") Leer Más 
                .beneficios__circle
                    img(src=imagen, alt="alt")

        else 
            .beneficios.h-100.ultimo
                .beneficios__circle
                    img(src=imagen, alt="alt")
                .beneficios__txt
                    h3.tituloBeneficio #{titulo}
                    p #{text}
                    p.txtAdd.d-block.text-justify #{txt1}
                    .w-100.d-flex.justify-conten-center
                        a(href="#Carusel").btn.btn-outline-primary(type="button") Leer Más 


mixin lineaMedia(clases)
    br 
    hr(class=clases)
    br

mixin textFooter(imagen, titulo, etiqueta, txt, $href, $target)
    .informacion__contenido
        .informacion__contenido--img
            img(src=imagen, alt="alt")
        .informacion__contenido--text
            h6.m-0
                strong #{titulo}
            #{etiqueta}(href=`${$href}` target=`${$target}`) #{txt}

//- mixin caruselItem(active, n) 
//-     div(class=`carousel-item ${active}`)
//-         img(src=`../images/img${n}.png`, alt="alt").w-100.d-block

mixin caruselItem(active, n) 
    div(class=`carousel-item ${active}`)
        img(src=`${n}`, alt="alt").w-100.d-block